<title>Emre Kuruoğlu - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Emre Kuruoğlu
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Bilgi Bankası</li>
        <li class="breadcrumb-item active">Emre Kuruoğlu</li>
    </ol>

</div>