<title>Ders Notları - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Ders Notları
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Bilgi Bankası</li>
        <li class="breadcrumb-item active">Ders Notları</li>
    </ol>

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead class=" text-center">
                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 20.0px;">No</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 204.004px;">Dersin Adı</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 89.0039px;">Link</th></tr>
                        </thead>

                        <tbody>

                            <tr role="row" class="odd">
                                <td class="sorting_1 text-center">1</td>
                                <td>Dersin Adı</td>
                                <td class="sorting_1 text-center">@Html.ActionLink("Tıklayınız...", "DownloadFile(name)", new { })</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1 text-center">2</td>
                                <td>Dersin Adı</td>
                                <td class="sorting_1 text-center">@Html.ActionLink("Tıklayınız...", "DownloadFile(name)", new { })</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="sorting_1 text-center">3</td>
                                <td>Dersin Adı</td>
                                <td class="sorting_1 text-center">@Html.ActionLink("Tıklayınız...", "DownloadFile(name)", new { })</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>