<title>Ders Notları - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Ders Notları
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Bilgi Bankası</li>
        <li class="breadcrumb-item active">Ders Notları</li>
    </ol>

    @Html.ActionLink("Buradan indiriniz.", "DownloadFile(name)", new { })

</div>