<title>İletişim - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        İletişim
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">İletişim</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-7 mb-4">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.837230994521!2d29.904368203704838!3d39.47668246300762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c946e9e2bc6667%3A0xbf1dfce0fb045306!2zS8O8dGFoeWEgRHVtbHVwxLFuYXIgw5xuaXZlcnNpdGVzaSDEsMSwQkYgKMSwxZ9sZXRtZSBiaW5hc8SxKQ!5e0!3m2!1sen!2str!4v1576119104680!5m2!1sen!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <div class="card-body">
                <br /><h3>İletişim Bilgileri</h3><hr /><br />
                <h5>Adres:</h5>
                <p>
                    Evliya Çelebi Yerleşkesi Tavşanlı
                    <br>Yolu 10.km merkez/Kütahya
                    <br>43000 Kütahya / Türkiye
                </p>
                <p>
                    <h6>Ayşen ÖZTÜRK (Başkan) :</h6>
                    <abbr title="Phone"></abbr>+90 554 258 53 41
                </p>
                <p>
                    <h6>Nebi ŞENKARTAL (Başkan Yardımcısı) :</h6>
                    <abbr title="Phone"></abbr>+90 533 673 63 12
                </p>
                <h6>Mail Adresi:</h6>
                <p>
                    <abbr title="Email"></abbr>
                    <a href="mailto:dpudakk@gmail.com">
                        dpudak@gmail.com
                    </a>
                </p>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <form name="sentMessage" id="contactForm" novalidate>
        <div class="card">
            <div class="card-body">
                <br />
                <h3>Bize Mesaj Gönderin</h3>
                <hr /><br />
                <div class="row">
                    <div class="col-lg-3 mb-1">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>İsim Soyisim:</label>
                                <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Telefon Numarası:</label>
                                    <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Email Adresi:</label>
                                    <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 mb-1">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Mesajınız:</label>
                                <textarea rows="8" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Mesajı Gönder</button>
        </div>
    </form>
    <br /><br />

</div>
<!-- /.container -->