<title>İletişim - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        İletişim
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">İletişim</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-7 mb-4">
            <!-- Embedded Google Map -->

            <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Dumlup%C4%B1nar%20%C3%9Cniversitesi+(Dumlup%C4%B1nar%20Universty)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe></div><br />
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-5 mb-4">
            <div class="card-body">
                <h5>Adres:</h5>
                <p>
                    T.C. Kütahya Dumlupınar Üniversitesi Evliya Çelebi Yerleşkesi İktisadi ve İdari Bilimler Fakültesi Dağcılık Topluluğu Odası Merkez/Kütahya 43000 <br>Kütahya / Türkiye
                </p>
                <br />
                <h5>Telefon Numaraları:</h5>
                <p>
                    Ayşen ÖZTÜRK :   +90 554 258 53 41
                </p>
                <p>
                    Nebi ŞENKARTAL : +90 533 673 63 12
                </p>

                <br />
                <h5>Sosyal Medya Hesaplarımız:</h5>
                <div class="row">
                    <div class="card-body">
                        
                            <a href="https://www.instagram.com/dpudakk/">
                                <img src="~/images/Views/Contact/socialNetwork5.png" alt="" style="max-height: 30px; max-width: 30px;">
                            </a>
                        
                            <a href="https://www.facebook.com/dpudak/">
                                <img src="~/images/Views/Contact/socialNetwork2.png" alt="" style="max-height: 30px; max-width: 30px;">
                            </a>
                        
                            <a href="https://twitter.com/dpudak">
                                <img src="~/images/Views/Contact/socialNetwork1.png" alt="" style="max-height: 30px; max-width: 30px;">
                            </a>
                        
                            <a href="mailto:dpudakk@gmail.com">
                                <img src="~/images/Views/Contact/socialNetwork6.png" alt="" style="max-height: 30px; max-width: 30px;">
                            </a>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <form name="sentMessage" id="contactForm" novalidate>
        <div class="card">
            <div class="card-body">
                <br />
                <h3>Bize Mesaj Gönderin</h3>
                <hr /><br />
                <div class="row">
                    <div class="col-lg-3 mb-1">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>İsim Soyisim:</label>
                                <input type="text" class="form-control" id="name" 
                                       required data-validation-required-message="Lütfen isim alanını doldurunuz">
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Telefon Numarası:</label>
                                    <input type="tel" class="form-control" id="phone"
                                           required data-validation-required-message="Lütfen isim alanını doldurunuz">
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Email Adresi:</label>
                                    <input type="email" class="form-control" id="email" 
                                           required data-validation-required-message="Lütfen isim alanını doldurunuz">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 mb-1">
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Mesajınız:</label>
                                <textarea rows="8" cols="100" class="form-control" id="message" 
                                          required data-validation-required-message="Lütfen isim alanını doldurunuz" 
                                          maxlength="999" style="resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Mesajı Gönder</button>
        </div>
    </form>
    <br /><br />

</div>
<!-- /.container -->