<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="~/css/modern-business.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="~/Home/Index">DPÜDAK</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hakkımızda
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="~/About/About">Biz kimiz?</a>
                                <a class="dropdown-item" href="~/About/Boards">Ekibimiz</a>
                                <a class="dropdown-item" href="~/About/Rules">Tüzük</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Faaliyetlerimiz
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="~/Activities/TrainingCamps">Eğitim Kamplarımız</a>
                                <a class="dropdown-item" href="~/Activities/NatureWalks">Doğa Yürüyüşlerimiz</a>
                                <a class="dropdown-item" href="~/Activities/Meetings">Toplantılarımız</a>
                                <a class="dropdown-item" href="~/Activities/ActivityCalender">Faaliyet Takvimimiz</a>
                                <a class="dropdown-item" href="~/Activities/ActivityReports">Faaliyet Raporlarımız</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bilgi Bankası
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="~/Database/WhatIsMountaineering">Dağcılık Nedir?</a>
                                <a class="dropdown-item" href="~/Database/LectureNotes">Ders Notları</a>
                                <a class="dropdown-item" href="~/Database/OurInventory">Envanterimiz</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Gallery">Galeri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Contact">İletişim</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>

        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; DPÜDAK - Kütahya Dumlupınar Üniversitesi Dağcılık Topluluğu 2020</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="~/Scripts/js/jquery.min.js"></script>
        <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>

    </body>
</html>


<!-- https://startbootstrap.com/previews/modern-business/ -->