<title>Biz Kimiz? - DPÜDAK</title>
    <!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Biz Kimiz?
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Hakkımızda</li>
        <li class="breadcrumb-item active">Biz Kimiz?</li>
    </ol>

    <br />


    <!-- Intro Content -->
    <h2>Topluluğumuz Hakkında...</h2>
    <hr />
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid rounded mb-4" src="~/images/DpudakLogo.png" alt="" style="width: 100%">
        </div>
        <div class="col-lg-8">
            <p>&emsp;&emsp;&emsp;Topluluğumuz 2002 yılında T.C. Kütahya Dumlupınar Üniversitesi bünyesinde öğrenci topluluğu olarak kurulmuş olup, halen faaliyetini sürdürmektedir. Topluluğumuz her yıl üniversitemizin en aktif topluluğu olarak seçilmektedir.</p>
            <p>&emsp;&emsp;&emsp;DPÜDAK, öğrencilerin üniversite hayatları boyunca düzenli olarak spor yapabilicekleri, stres atabilicekleri, doğaya karışabilicekleri, kişisel gelişimlerini geliştirebilicekleri ve aynı zamanda dağcılık sporunu her anlamıyla yapabilecekleri bir topluluktur. Dağcılık sporu ne kadar yeni teknolojiler ile daha güvenli bir spor olsada üyelerimiz için bu sporun tehlike seviyesini en aza indirgenmesi adına eğitimlerimize üst düzey bir özen göstermekteyiz. Eğitimlerimize gösterdiğimiz bu özen sayesinde Dpüdak Türkiye'deki üniversite dağcılık toplulukları arasında sayılı topluluklar arasında olduğumuzu rahatlıkla söyleyebilmekteyiz.</p>
        </div>
    </div>
    <!-- /.row -->

    <br /><br />

    <!-- /.row -->
    <h2>Tırmanış Duvarımız...</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <p>&emsp;&emsp;&emsp;Tırmanış duvarımız ilk yapıldığında 'Dumlupınar Üniversitesi Tırmanış Duvarı' adını alsa da 2011 yılında 'Emre Kuruoğlu Tırmanma Duvarı' olarak değiştirilmiştir. Türkiye standartlarında Türkiye'de ki diğer tırmanış duvarlarına kıyasla üstün bir fiziksel yapıya sahiptir.</p>
            <p>&emsp;&emsp;&emsp;Duvarımızın fiziksel yapısından bahsetmemiz gerekirse; 15 metre boyunda 1 adet düz ve 2 adet negatif tırmanış bölümü vardır. Bu tırmanış bölümlerinde çeşitli zorluklara uygun elemetler, çıkıntılar ve balkonlar bulunmaktadır. Duvar üzerindeki tutamakların yapısı ...........(Eklenecek)</p>
            <p>&emsp;&emsp;&emsp;Yapım maliyeti şu anki döviz kuruyla yaklaşık 2.5 milyon TL civarındadır. Tırmanış duvarımız T.C. Kütahya Dumlupınar Üniversitesi Merkez Kampüs'ü içerisinde yer almaktadır. </p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/images/Views/About/About/ClimbingWall.jpg" alt="" style="width: 100%">
        </div>
    </div>
    <!-- /.row -->

    <br />

    <!-- Intro Content -->
    <h2>Kulüp Odamız...</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/images/Views/About/About/ClimbingWall.jpg" alt="" style="width: 100%">
        </div>
        <div class="col-lg-6">
            <p>&emsp;&emsp;&emsp;Kulüp odamız T.C. Kütahya Dumlupınar Üniversitesi iktisadi ve idari bilimler fakültesi içerisinde yer almaktadır. Kulüp odamızda teorik eğitimlerimizi verdiğimiz alan, dağcılık malzemelerimizin bulunduğu alan ve tırmanış antremanlarımzı gerçekleştirdiğimiz boulder duvarımız olmak üzere 3 alandan oluşmaktadır.</p>
        </div>
    </div>
    <!-- /.row -->

    <br />

    <!-- /.row -->
    <h2>Boulder Duvarımız...</h2>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <p>&emsp;&emsp;&emsp;Boulder duvarımız kulüp odamızın içerisinde bulunmaktadır. Boulder duvarımız ... boyunda ve ... genişliğindedir. Üzerinde çeşitli zorluklara göre çok sayıda rota bulunmaktadır. Bu rotalar sürekli olarak güncel tutulmaktadır. Aynı zamanda duvar üzerinde tırmanışı daha zevkli kılmak adına çeşitli çıkıntılar, yapısal değişiklikler ve birçok element bulunmaktadır. Boulder duvarı üzerindeki tutamaklar Emre Kuruoğlu Tırmanış Duvarı'ndaki tutamaklar ile aynı yapıya sahiptir.</p>
            <p>&emsp;&emsp;&emsp;Emre Kuruoğlu Tırmanma Duvarı dış mekanda bulunduğundan hava koşullarının tırmanışı engellediği zamanlarda boulder duvarımızın yoğunluğu artmaktadır. Havaların tırmanmak için elverişli olmadığında dahi üyelerimizin antremanlarında aksama yaşamamalarını sağlamaktadır.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="~/images/Views/About/About/ClimbingWall.jpg" alt="" style="width: 100%">
        </div>
    </div>
    <!-- /.row -->
    <br />
</div>