<title>Biz Kimiz? - DPÜDAK</title>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Biz Kimiz?
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item active">Hakkımızda</li>
            <li class="breadcrumb-item active">Biz Kimiz?</li>
        </ol>

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Topluluğumuz...</h2>
                <p>2002 yılında kurulan Kütahya Dumlupınar Üniversitesi'ne bağlı ve sürekli aktif olan bir dağcılık topluluğudur.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr />

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Emre Kuruoğlu Tırmanış Duvarı...</h2>
                <p>15 metre boyunda 1 adet düz ve 2 adet negatif bölümü vardır. ( yapım maliyeti şu anki döviz kuruyla yaklaşık 2.5 milyon tl tutmuştur) KDÜ'nün kampüsünün içindedir (ve hava şartları uygun olduğu zamanlarda topluluk üyeleri tarafından faaliyette tutulur.)</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr />

        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-lg-6">
                <h2>Boulder duvarı ve oda hakkında bilgi verilecek.</h2>
                <p>Boulder duvarımız topluluk odamızın içinde bulunur. ... Boyunda çelik kare profil altyapısı ve mdf ile oluşturulmuş duvar yüzeyi bulunmaktadır. Tutamaklar Emre Kuruoğlu Tırmanış Duvarındaki tutamaklarla aynı olmakla birlikte ........... Malzemesinden oluşturulmuştur (Sürekli aktif tutulmaya özen gösterilen boulder duvarımız hava koşullarının Emre Kuruoğlu Tırmanış Duvarında faaliyete izin vermediği durumlarda da antreman için uygun durumdadır.)</p>
            </div>
        </div>
        <!-- /.row -->

    </div>