<title>Ekibimiz - DPÜDAK</title>
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Ekibimiz
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item active">Hakkımızda</li>
            <li class="breadcrumb-item active">Ekibimiz</li>
        </ol>

        <!-- Team Members -->
        <h2>Yönetim Kurulu</h2>
        <hr />

        <div class="row">
            <div class="col-lg-4 mb-4">
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ayşen ÖZTÜRK</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Kulüp Başkanı</h6>
                        <p class="card-text">Ayşen hakkında bilgiler yazılıcak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nebi ŞENKARTAL</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Başkan Yardımcısı</h6>
                        <p class="card-text">Nebi Hakkında Bilgiler yazılacak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Batuhan GÜNEŞ</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Yönetim Kurulu Üyesi</h6>
                        <p class="card-text">Batuhan Hakkında Bilgiler yazılacak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">batuhangunes001@gmail.com</p>
                        <p href="#">+90 546 907 07 40</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Furkan AKAR</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Yönetim Kurulu Üyesi</h6>
                        <p class="card-text">Furkan hakkında bilgiler yazılıcak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Levent BURMA</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Yönetim Kurulu Üyesi</h6>
                        <p class="card-text">Levent hakkında bilgiler yazılıcak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pınar TUSUN</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Yönetim Kurulu Üyesi</h6>
                        <p class="card-text">Pınar Hakkında Bilgiler yazılacak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Doğukan TEKE</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Yönetim Kurulu Üyesi</h6>
                        <p class="card-text">Doğukan Hakkında Bilgiler yazılacak</p>
                    </div>
                    <div class="card-footer">
                        <p href="#">name@example.com</p>
                        <p href="#">+90 123 456 78 90</p>
                    </div>
                </div>
            </div>
        </div>



        <hr />

        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Kurullar
                <small>Malzeme</small>
            </h1>

            <p>Malzeme kurulu topluluk envanterindeki malzemelerin kontrolü, temizliği, düzeni, onarımı ve bakımından sorumludur. Bu kurul bünyesindeki üyelerimiz:</p>
            <ul>
                <li>
                    <strong>Levent BURMA</strong> : Kurul Başkanı
                </li>
                <li>
                    <strong>Ergün MERAL</strong>  : Kurul Başkanı
                </li>
                <li>
                    <strong>Mehmet</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Mustafa HAFIZ</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Derya</strong>  : Kurul Üyesi
                </li>
            </ul>
        </div>

        <hr />

        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Kurullar
                <small>Basın Yayın</small>
            </h1>

            <p>Malzeme kurulu topluluk envanterindeki malzemelerin kontrolü, temizliği, düzeni, onarımı ve bakımından sorumludur. Bu kurul bünyesindeki üyelerimiz:</p>
            <ul>
                <li>
                    <strong>Levent BURMA</strong> : Kurul Başkanı
                </li>
                <li>
                    <strong>Ergün</strong>  : Kurul Başkanı
                </li>
                <li>
                    <strong>Mehmet</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Mustafa HAFIZ</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Derya</strong>  : Kurul Üyesi
                </li>
            </ul>
        </div>

        <hr />

        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Kurullar
                <small>Eğitim Teknik</small>
            </h1>

            <p>Malzeme kurulu topluluk envanterindeki malzemelerin kontrolü, temizliği, düzeni, onarımı ve bakımından sorumludur. Bu kurul bünyesindeki üyelerimiz:</p>
            <ul>
                <li>
                    <strong>Levent BURMA</strong> : Kurul Başkanı
                </li>
                <li>
                    <strong>Ergün</strong>  : Kurul Başkanı
                </li>
                <li>
                    <strong>Mehmet</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Mustafa HAFIZ</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Derya</strong>  : Kurul Üyesi
                </li>
            </ul>
        </div>

        <hr />

        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">
                Kurullar
                <small>Sekreterlik</small>
            </h1>

            <p>Malzeme kurulu topluluk envanterindeki malzemelerin kontrolü, temizliği, düzeni, onarımı ve bakımından sorumludur. Bu kurul bünyesindeki üyelerimiz:</p>
            <ul>
                <li>
                    <strong>Levent BURMA</strong> : Kurul Başkanı
                </li>
                <li>
                    <strong>Ergün</strong>  : Kurul Başkanı
                </li>
                <li>
                    <strong>Mehmet</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Mustafa HAFIZ</strong>  : Kurul Üyesi
                </li>
                <li>
                    <strong>Derya</strong>  : Kurul Üyesi
                </li>
            </ul>
        </div>

        <hr />
    </div>
