    
    <title>Ekibimiz - DPÜDAK</title>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Ekibimiz
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item active">Hakkımızda</li>
            <li class="breadcrumb-item active">Ekibimiz</li>
        </ol>

        <br />
        <!-- Team Members -->
        <h1 class="text-center">Yönetim Kurulu</h1>
        <hr />

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Başkan ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com </p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Başkan Yardımcısı ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com </p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com</p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com</p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com</p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@gmail.com</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/Untitled.png" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Name Surname</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;Description.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">mail@hotmail.com </p>
                <p href="#">+90 123 456 78 90</p>
            </div>
        </div>




        <br /><br /><br />
        <h1 class="text-center">Diğer Kurullar</h1>
        <hr />

        <div class="row">
            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Denetleme Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Malzeme Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Basın Yayın Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Eğitim Teknik Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Sekreterlik Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Name Surname</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Yürüyüş ve Organizasyon Kurulu</h3>

                <ul>
                    <li><strong>Name Surname</strong> : Kurul Başkanı</li>
                    <li><strong>Name Surname</strong>  : Kurul Başkan Yardımcısı</li>
                </ul>
            </div>
        </div>
        <br /><br />

    </div>
