    
    <title>Ekibimiz - DPÜDAK</title>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Ekibimiz
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item active">Hakkımızda</li>
            <li class="breadcrumb-item active">Ekibimiz</li>
        </ol>

        <br />
        <!-- Team Members -->
        <h1 class="text-center">Yönetim Kurulu</h1>
        <hr />

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/AysenOzturk.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Ayşen ÖZTÜRK</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Başkan ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, Fen Edebiyat Fakültesi, İngiliz Dili ve Edebiyatı son sınıf öğrencisiyim. 1996 Denizli/Beyağaç doğumluyum. Ortaokulda izcilikle ilgilendim, lisede gezi tanıtma kulübünde yer aldım. Doğayı, yeni yerler görmeyi, öğrenmeyi severim, aynı paylaşımı içeren dostluklar kurmak ve ekstrem bir sporla ilgilemek hoşuma gittiği için bu toplulukta yer aldım. 5 yıldır dağcılıkla ilgileniyorum. Alpinizmin bendeki yeri çok ayrı. Türkiye Dağcılık Federasyonu 3 yaz, 3 kış ve 2 yaz ve kış arama kurtarma eğitimlerini başarıyla tamamladım. DPÜDAK ailem oldu. Bu toplulukta bulunduğum için şanslı ve mutluyum.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">aysenozturk730@gmail.com </p>
                <p href="#">+90 554 258 53 41</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/NebiSenkartal.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Nebi ŞENKARTAL</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Başkan Yardımcısı ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, Mühendislik Fakültesi, Makine Mühendisliği 4. sınıf öğrencisiyim. 1992, Tokat doğumluyum. Mühendisliğin ilk senesinde topluluğa kayıt oldum ve dördüncü senemdeyim. Doğanın mükemmelliğini DPÜDAK sayesinde çok daha yakından tanıdım ve elimden geldiği kadar doğa ile iç içe olmaya çalışıyorum.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">nebi26esk@gmail.com</p>
                <p href="#">+90 533 673 63 12</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/BatuhanGunes.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Batuhan GÜNEŞ</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, Mühendislik Fakültesi, Bilgisayar Mühendisliği 4. sınıf öğrencisiyim. 1997, Samsun doğumluyum. Üniversiteye geldiğimde doğa ile iç içe olabiliceğim bir kulüp arayışındaydım. Bu arayışımı Dpüdak 5 yıldır fazlasıyla doldurmakta. Dpüdak ile birlikte tanıştığım dağcılık sporu, hayatın monotonluğundan beni uzaklaştırarak bana bir çok şey kattığı için mutluluk duymaktayım.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">batuhangunes001@gmail.com</p>
                <p href="#">+90 546 907 07 40</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/FurkanAkar.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Furkan AKAR</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, İktisadi ve İdari Bilimler Fakültesi, Kamu Yönetimi 3. Sınıf öğrencisiyim. 1997, Erzurum doğumluyum. Doğaya ilgim vardı . Üniversiteye geldiğimde dağcılık topluluğu olduğunu öğrendim ve kaydımı yaptırdım. Burada aldığım dağcılık eğitimleriyle kendimi bu sporda geliştirmeye devam ediyorum.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">furkanakar2541.fa@gmail.com</p>
                <p href="#">+90 507 980 61 22</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/LeventBurma.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Levent BURMA</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, İktisadi ve İdari Bilimler Fakültesi, Kamu Yönetimi 3. Sınıf öğrencisiyim. 1999, Sinop doğumluyum. Dağcılık sporu hayatıma girmeden önce dağcılığı hep filmlerde ve belgesellerde görüyordum ve her gördüğümde ilgimi cekmekle kalmayıp beni heyecanlındırmaktaydı. Üniversiteye geldiğimde Emre Kuroğlu Tırmanma Duvarı'na tırmandım ve bu duyguyu cok sevdim.Bu sporu yapabileceğimi düsündüm ve DPÜDAK'a kaydımı yaptırdım. 3 senedir dağcılık sporu ile uğraşmaktayım.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">burma379@gmail.com</p>
                <p href="#">+90 546 975 99 06</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/PınarTusun2.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Pınar TUSUN</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniversitesi, Fen Edebiyat Fakültesi, Sosyoloji 3. Sınıf öğrencisiyim. 1997, Bitlis doğumluyum. Ekstrem Sporlara karşı duyduğum ilgi beni DPÜDAK ile tanıştırdı. DPÜDAK'ın bünyesinde aldığım dağcılık eğitimleri ve sağladığı olanaklar ile birlikte Alpinizm ve spor tırmanış alanında kendimi geliştirmekteyim.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">pnartusun@gmail.com</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <img src="~/images/Views/About/Boards/DogukanTeke.jpg" alt="" style="width: 100%">
                    </div>
                    <div class="col-lg-9 mb-2">
                        <h4 class="card-title">Doğukan TEKE</h4>
                        <h6 class="card-subtitle mb-2 text-muted">( Yönetim Kurulu Üyesi ) </h6>
                        <hr />
                        <p class="card-text">&emsp;&emsp;&emsp;T.C. Kütahya Dumlupınar Üniverstesi, Beden Eğitimi ve Spor Yüksek Okulu, Benden Eğitimi ve Spor Öğretmeliği 2. Sınıf öğrencisiyim. 1999 gebze/kocaeli doğumluyum. Uzun zamandır sporla uğraşmaktayım. Kamp hayatını ve doğayı sevdiğimi fark ettim. DPÜDAK ile bu ilgimi spora dönüştürebilmekteyim.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p href="#">dogu-teke@hotmail.com </p>
                <p href="#">+90 538 833 69 64</p>
            </div>
        </div>




        <br /><br /><br />
        <h1 class="text-center">Diğer Kurullar</h1>
        <hr />

        <div class="row">
            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Denetleme Kurulu</h3>

                <ul>
                    <li><strong>Anıl KAYA</strong> : Kurul Başkanı</li>
                    <li><strong>Nevzat ÇOBAN</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Doğukan KAYA</strong>  : Kurul Üyesi</li>
                    <li><strong>Büşra CANBAKIŞ</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Malzeme Kurulu</h3>

                <ul>
                    <li><strong>Levent BURMA</strong> : Kurul Başkanı</li>
                    <li><strong>Ergün MERAL</strong> : Kurul Başkanı</li>
                    <li><strong>Cihat KALA</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Mustafa HAFIZ</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Basın Yayın Kurulu</h3>

                <ul>
                    <li><strong>Anıl KAYA</strong> : Kurul Başkanı</li>
                    <li><strong>Doğukan KAYA</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Ayşenur CAN</strong>  : Kurul Üyesi</li>
                    <li><strong>Tayyip BİRİNCİ</strong>  : Kurul Üyesi</li>
                    <li><strong>Gizem YILDIRIM</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Eğitim Teknik Kurulu</h3>

                <ul>
                    <li><strong>Nebi ŞENKARTAL</strong> : Kurul Başkanı</li>
                    <li><strong>Furkan AKAR</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Nevzat ÇOBAN</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-7">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Sekreterlik Kurulu</h3>

                <ul>
                    <li><strong>Büşra MERCAN</strong> : Kurul Başkanı</li>
                    <li><strong>Pınar TUSUN</strong>  : Kurul Başkan Yardımcısı</li>
                    <li><strong>Büşra CANBAKIŞ</strong>  : Kurul Üyesi</li>
                </ul>
            </div>

            <div class="col-lg-5">
                <!-- Page Heading/Breadcrumbs -->
                <h3 class="mt-4 mb-3">Yürüyüş ve Organizasyon Kurulu</h3>

                <ul>
                    <li><strong>Batuhan GÜNEŞ</strong> : Kurul Başkanı</li>
                    <li><strong>İbrahim ENSAR</strong>  : Kurul Başkan Yardımcısı</li>
                </ul>
            </div>
        </div>
        <br /><br />

    </div>
