<title>Tüzük - DPÜDAK</title>
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Tüzük
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Hakkımızda</li>
        <li class="breadcrumb-item active">Tüzük</li>
    </ol>

    <p>
        Tüzük yazılacak
    </p>

</div>