<title>Faaliyet Raporlarımız - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->

    <br />
    <div class="row">
        <div class="col-lg-8">
            <div class="card-body">
                <div class="input-group">
                    <h1>Faaliyet Raporlarımız</h1>
                </div>
            </div>
        </div>

        <!-- Search Widget -->
        <div class="col-lg-4">
            <br />
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" style="width:150px" placeholder="Faaliyet Raporu...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Ara</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Faaliyetlerimiz</li>
        <li class="breadcrumb-item active">Faaliyet Raporlarımız</li>
    </ol>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Dağ ismi
                    </h4>
                    <footer class="blockquote-footer">
                        Rakım: x.xxx
                    </footer>
                    <footer class="blockquote-footer">
                        Konum: Şehir / Ülke
                    </footer>
                </div>
                <div class="card-footer">
                    <a href="~/Activities/MountainReports" class="btn btn-primary btn-block">Daha Fazla</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>
<!-- /.container -->