<title>Eğitim Kamplarımız - DPÜDAK</title>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Eğitim Kamplarımız
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Faaliyetlerimiz</li>
        <li class="breadcrumb-item active">Eğitim Kamplarımız</li>
    </ol>

    <br />
    <div class="row">
        <div class="col-md-12">
            <p>&emsp;&emsp;&emsp;Topluluğumuza kayıtlı üyelerimizin dağcılık eğitimlerini uygulamalı bir biçimde alması adına yıl boyunca gerçekleştirdiğimiz 6 adet eğitim kampı bulunmaktadır. Bunlardan 3'ü kış dağcılığı, 3'ü yaz dağcılığını konu almaktadır. 3'erli gruplarda olan eğitimlerimiz kademeli olarak ilerlemektedir. Yani üyelerimiz, ilk kampı almadan ikinci kampa, ikinci kampı almadan da üçüncü kampa katılım gösterememektedirler. Bunun nedeni ise her kamp bir önceki eğitim kampının devamı şeklinde gerçekleştirilmektedir. Dağcılık sporu halen hızla gelişmekte olan bir spor olduğundan spor hakkındaki bilgilerde bir o kadar hızla değişmektedir. Bu nedenle eğitim konularımızı global düzeyde sürekli güncel tutarak üyelerimizinde güncel bilgilere erişmesini sağlamaya çalışmaktayız.</p>
            <p>&emsp;&emsp;&emsp;Bu eğitim kamplarımıza katılım göstermek isteyen hiçbir üyemizden bir ücret talep etmemekteyiz. Hatta eğitim boyunca kullanılan bütün teknik malzemeler topluluğumuz tarafından üyelerimize tahsis edilmektedir. Bu eğitimler sonucu dağcılık sporunun en ince ayrıntısına kadar bilen ve bu sporu tam anlamıyla profosyanel biçimde yapabilicek bireyler yetiştirmeyi amaçlamaktayız. Eğitimlerimizi tamamlayan üyeler yeterli görüldüğü taktirde eğitim kadromuza dahil edilerek bir sonraki nesile bilgilerini aktarmaktadır. Ayrıca eğitimlerini bitirmiş üyelerimizin özel dağcılık faaliyetlerine katılabilmektedirler.</p>
        </div>
    </div>
    <!-- /.row -->
    <br /><br />

    <!-- Project One -->
    <h3>
        1-) Temel Kampçılık Eğitimi
        <small>(Kampüs)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/TemelKampcilik2.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Kış dağcılığına dair 3 eğitim kampından ilkidir. Bu eğitim kampında üyelerimizin dağcılık sporunu tanımasını, alışmasını, kampçılık için gerekli temelleri kavramasını ve azda olsa kış dağcılığının temellerini almasını amaçlamaktayız. Bu eğitim kampımızı genellikle kasım ayında T.C. Kütahya Dumlupınar Üniversitesi Merkez Kampüs'ü içerisinde yapmaktayız. Merkez Kampüs içerisinde kamp alanı olarak tırmanış duvarımızın bulunduğu alanı veya kampüs içerisindeki büyük gölün çevresini kullanmaktayız. İki gün süren bu eğitim kampında üyelerimize çadır kurulumunu, tulum kullanımını, dağcılıkta kullanılan düğümleri, dağcılıkta kullanılan bazı malzemeleri ve daha bir çok konuyu uygulamalı ve teorik olarak aktarmaktayız.</p>
        </div>
    </div>

    <br /><br />

    <!-- /.row -->
    <!-- Project Two -->
    <h3>
        2-) Temel Kış Eğitimi
        <small>(Kütahya/Murat Dağı)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/MuratDagi.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Kış dağcılığının ikinci kademesini temel kış eğitimi oluşturmaktadır. Temel kış eğitimi daha önce üyelerimizin temel kampçılıkta almış olduğu eğitimlerin daha kapsamlı ve daha geniş uygulama alanı ile donanımlarını artırmaya yönelik  bir eğitim kampıdır. Temel kış eğitimi genel olarak Şubat ayında Uşak - Kütahya sınırları arasında Gediz bölgesinde 2312 metre yüksekliğinde zirvesi bulunan Murat dağında yapılmaktadır. Kamp yeri olarak 1453 rakımlı Orman Müdürlüğüne bağlı dağ evi çevresini kullanmaktayız. Altı ila yedi gün süren bu eğitim kampımızda çadır ve tulum kullanımı, temel ilk yardım eğitimi, dağcılıkta kullanılan düğümler, dağcılıkta kullanılar malzemeler, karda emniyet sistemleri, karda iniş sistemleri, kardan yapılan barınaklar, yürüyüş çeşitleri ve teknikleri, karda düşüşler ve daha bir çok konu üyelerimize uygulamalı ve teorik olarak gösterilmektedir.</p>
        </div>
    </div>

    <br /><br />

    <!-- /.row -->
    <!-- Project Three -->
    <h3>
        3-) Kış Gelişim Eğitimi
        <small>(Bursa/Uludağ)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/Uludag.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
        </div>
    </div>

    <br /><br />

    <!-- /.row -->
    <!-- Project Four -->
    <h3>
        4-) Temel Yaz Eğitimi
        <small>(Kampüs)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/TemelYaz.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Yaz dağcılığına dair 3 eğitim kampından ilkini oluşturmaktadır. Temel yaz eğitim kampında üyelerimizi spor tırmanışla ve yaz dağcılığı ile tanıştırma ve alıştırma amaçlanmaktadır. Bu eğitim kampımızı genellikle Nisan ayında T.C. Kütahya Dumlupınar Üniversitesi Merkez kampüs içerinisinde yapmaktayız. Merkez kampüs içerisinde kamp yeri olarak Emre Kuruoğlu tırmanma duvarı çevresini kullanmaktayız. Bir gece konaklamalı toplam iki gün süren bu eğitim kampında spor tırmanış, tırmanma şekilleri ve çeşitleri, düşüşler, tırmanış malzemeleri, iniş malzemeleri, tırmanışçının ve emniyetçinin dikkat etmesi gereken kurallar uygulamalı olarak üyelerimize gösterilmektedir.</p>
        </div>
    </div>

    <br /><br />

    <!-- /.row -->
    <!-- Project Five -->
    <h3>
        5-) Yaz Gelişim Eğitimi
        <small>(Eskişehir/Karakayalar)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/Karakayalar4.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Yaz dağcılığının ikinci kısmını yaz gelişim kampı oluşturmaktadır. Bu eğitim kampımızda üyelerimiz kaya tırmanışı ile tanışma sürecine girmektedir ve temel yaz eğitimlerinde almış oldukları eğitimleri geliştirme hedeflenmektedir. Bu eğitim kampı genellikle Nisan ayında Eskişehir ilinin Sivrihisar ilçesine bağlı Karakaya tırmanış bahçesi bölgesinde yapılmaktadır. Bölgede bulunan düz ve ağaçlık alan kamp yeri olarak kullanmaktayız. Dört gün süren bu eğitim kampında dağcılıkta ve tırmanışta kullanılan düğümler, kaya tırmanışı, tırmanış çeşitleri, belirlenmiş rotalar üzerinde üyelerimize uygulamalı ve teorik olarak aktarılmaktadır. Eğitim sonunda çeşitli rotalara lider tırmanışlar gerçekleştirilmektedir.</p>
        </div>
    </div>

    <br /><br />

    <!-- /.row -->
    <!-- Project six -->
    <h3>
        6-) İleri Kaya Eğitimi
        <small>(Niğde/Aladağlar)</small>
    </h3>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <br />
            <img class="img-fluid rounded mb-4" src="~/images/Views/Activities/TrainingCamps/Nigde.jpg" alt="">
        </div>
        <div class="col-md-7">
            <br />
            <p>&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
        </div>
    </div>
    <hr />
    <br />
    <!-- /.row -->
                <p class="text-center">Eğitim kamplarmızın tüm faaliyet raporlarını indirmek için @Html.ActionLink("Tıklayınız...", "DownloadFile(name)", new { })</p>
    <br />
</div>
